release/*
*.cache
*.pbo
texHeaders.bin
*.swp
*.swo
extensions/mapping_export/Release/*
extensions/mapping_export/mapping_export/Release/*
extensions/mapping_export/mapping_export.opensdf
extensions/mapping_export/mapping_export.sdf
extensions/mapping_export/mapping_export.v12.suo